<ion-header [translucent]="true" align="center">
  <ion-toolbar>
    <ion-title>Level 2</ion-title>
    <ion-button slot="start">
      <ion-back-button></ion-back-button>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content style="--ion-background-color : linear-gradient(to bottom, lightgreen, white) ;">
  <!-- Show loading screen -->
  <div align="center" *ngIf="!startGame">
    <br>
    <h2>Match all the cards to WIN!</h2>
    <p>You have a total of <b>{{userLife}}</b> tries.</p>
    <br>
    <h4>Start in <span style="color: #c00; font-size: 24px;">{{countDown}}</span>...</h4>
  </div>

  <!-- Actual cards display -->
  <div align="center" *ngIf="startGame && gameState === 'init'">
    <h2 style="font-family: 'Times New Roman', Times, serif;">Match all the cards to <span
        style="color: #00CC00;">WIN!</span></h2>
    <ion-row align-items-center text-center size="8">
      <ion-col align-self-center size="3" *ngFor="let c of cardsArray; let i = index">
        <!-- Show card's background -->
        <img src="../assets/img/cards/background.png" *ngIf="c.pos !== selectCards1pos && 
        c.pos !== selectCards2pos && c.val > -1" (click)="selectCard(c.pos, c.val, i)" style="width: 75px; height: 75px; 
        border: solid 2px #000; border-radius: 12px;">
        <!-- Show card 1 selected -->
        <img [src]="imageDir + images[c.val] + '.jpg'" *ngIf="c.pos === selectCards1pos
        && c.val > -1" style="width: 75px; height: 75px;border: solid 2px #000; border-radius: 12px;">
        <!-- Show card 2 selected -->
        <img [src]="imageDir + images[c.val] + '.jpg'" *ngIf="c.pos === selectCards2pos
        && c.val > -1" style="width: 75px; height: 75px;border: solid 2px #000; border-radius: 12px;">
        <!-- Show hidden card -->
        <img *ngIf="c.val === -1"
          style="width: 75px; height: 75px;border: solid 2px #000; border-radius: 12px; visibility: hidden;">
      </ion-col>
    </ion-row>
  </div>

  <!-- Update UI to show all cards during the preview phase -->
  <div align="center" *ngIf="previewInProgress">
    <h2> You have <span style="color: #CC0000; font-size: 24px;">{{previewTime}}</span>
    seconds to remember the pictures 😃</h2>
    <!-- Render all cards during the preview phase -->
    <ion-row align-items-center text-center size="8">
      <ion-col align-self-center size="3" *ngFor="let c of cardsArray; let i = index">
        <img [src]="imageDir + images[c.val] + '.jpg'"
          style="width: 70px; height: 70px; border: solid 2px #000; border-radius: 12px;">
      </ion-col>
    </ion-row>
  </div>

  <div align="center" *ngIf="startGame && gameState === 'init'">
    <br>
    <ion-row>
      <ion-col col-9>
        <p>You have <span style="color: #00CC00; font-size: 24px;">
            {{userLife}}</span> tries...</p>
      </ion-col>
      <ion-col>
        <p><span style="color: #CC0000; font-size: 24px;">
            {{shownTime}}</span></p>
      </ion-col>
    </ion-row>
  </div>

  <!-- Show Win screen -->
  <div *ngIf="gameState === 'win'" align="center">

    <img src="../assets/Status/WIN.gif" style="width: 250px; height: 250px;">
    <br>
    <p>You have <span style="color: #00CC00; font-size: 24px;">WON</span> this one!</p>
    <p>Would you like to play again?</p>
    <br>
    <ion-button size="large" color="success" (click)="restartGame()">
      <ion-icon name="repeat"></ion-icon>
      &nbsp; &nbsp; Play again
    </ion-button>
  </div>

  <!-- Show lose screen -->
  <div *ngIf="gameState === 'lose'" align="center">
    <img src="../assets/Status/loser-cry.gif" style="width: 250px; height: 250px;">
    <br>
    <p>You have <span style="color: #c00; font-size: 24px;">LOST</span> this one!</p>
    <p>Would you like to try again?</p>
    <br>
    <ion-button size="large" color="danger" (click)="restartGame()">
      <ion-icon name="repeat"></ion-icon>
      &nbsp; &nbsp; Try again
    </ion-button>
  </div>

</ion-content>