#container {
  text-align: center;
  margin-top: 50px;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 20px;
  line-height: 22px;

  color: black;

  margin: 0;
}

#container a {
  text-decoration: none;
}

